:root {
  --black: #010306;
  --primary-dark: #081B33;
  --secondary-dark: #152642;
  --primary-light: #F5F6F7;
  --secondary-light: #767d92;
  --primary-accent: #928b75;
  --primary-contrast: #92757C;
  --secondary-contrast: #758B92;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.f-center {
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

body {
  background-color: var(--black);
  height: 100vh;
}

#content {
  height: 100%;
}

#header {
  background-color: var(--secondary-contrast);
  width: 100%;
}

#logo {
  color: var(--primary-light); 
  font-size: 30px;
  margin: 20px 40px;
  font-family: 'Climate Crisis', cursive;
}

#sidebar {
  background-color: var(--black); 
  width: 35%;
  height: 100%;
  border-right: medium dashed var(--secondary-contrast)
}

#sidebar > * {
  color: var(--secondary-contrast);
  font-family: 'Rubik', sans-serif;
  font-weight: medium;
}

.nav-header {
  display: flex;
  margin: 60px 0px 30px 0px;
}

#projects-button {
  display: inline-block;
  margin-right: 20px;
}

#add-project-button {
  font-size: 50px;
}

#projects-list {
  margin-left: 30px;
}

#projects-list > li {
  font-size: 24px;
}

#new-project-form-container {
  border: medium dashed var(--secondary-contrast);
  padding: 50px;
  margin: 5px;
}
